<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="icon" href="imgs/weather.png">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    {{>header}}
    <main class="main-content">
        <img class="portrait" src="imgs/me.jpg" alt="A Picture of Me" />
    </main>
    {{>footer}}
</body>
</html>